<?xml version="1.0" encoding="UTF-8"?>  
   <!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
           "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
        <session-factory>
        		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
                <property name="hibernate.hbm2ddl.auto">update</property>
                
                <property name="hibernate.show_sql">true</property>
                <property name="hibernate.format_sql">true</property>
                <property name="org.hibernate.envers.store_data_at_delete">true</property>
                
				<mapping class="br.jogo.risk.model.Jogador" />
				<mapping class="br.jogo.risk.model.Jogo" />
				<mapping class="br.jogo.risk.model.Projeto" />
				<mapping class="br.jogo.risk.model.PlanoDeRiscos" />
				<mapping class="br.jogo.risk.model.Pontuacao" />
				<mapping class="br.jogo.risk.model.Categoria" />
				<mapping class="br.jogo.risk.model.Risco" />
				<mapping class="br.jogo.risk.model.RiscoAnalisado" />
				<mapping class="br.jogo.risk.model.AcaoEstrategica" />
        </session-factory>
</hibernate-configuration>  