/* line 1, ../sass/jogo.scss */
body {
  background-color: cadetblue !important;
}

/* line 5, ../sass/jogo.scss */
#menu-principal {
  width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}
/* line 10, ../sass/jogo.scss */
#menu-principal .navbar {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 0px;
}

/* line 17, ../sass/jogo.scss */
.content {
  width: 1000px;
  height: 400px;
  border: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #fff;
  margin: 0px auto;
  font-family: cursive;
}
/* line 27, ../sass/jogo.scss */
.content .fotoSobre {
  min-width: 500px;
  height: 398px;
  float: left;
  border-right: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  background: beige;
}
/* line 35, ../sass/jogo.scss */
.content .fotoSobre .foto {
  margin-top: 60px;
  margin-left: 35px;
}
/* line 41, ../sass/jogo.scss */
.content .selectProjet {
  border-bottom-right-radius: 4px;
  background: khaki;
  height: 398px;
  float: right;
  padding: 38px;
}
/* line 48, ../sass/jogo.scss */
.content .selectProjet #projeto {
  margin-top: 50px;
  float: left;
  text-align: center;
}
/* line 55, ../sass/jogo.scss */
.content .projeto {
  min-width: 497px;
  width: 497px;
  height: 398px;
  min-height: 398px;
  float: left;
  border-right: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  background: beige;
}
/* line 66, ../sass/jogo.scss */
.content .riscosProjeto {
  margin-top: 10px;
  margin-left: 10px;
  min-width: 488px;
  width: 488px;
  border-bottom-right-radius: 4px;
  height: 389px;
  float: right;
}
/* line 74, ../sass/jogo.scss */
.content .riscosProjeto .riscos {
  margin-left: -14px;
  background: khaki;
  margin-top: -11px;
}
/* line 78, ../sass/jogo.scss */
.content .riscosProjeto .riscos #titulo {
  padding-bottom: 5px;
  margin-left: 10px;
}
/* line 82, ../sass/jogo.scss */
.content .riscosProjeto .riscos .mCSB_container {
  margin-left: 10px;
}
