/* line 1, ../sass/login.scss */
body {
  background-color: cadetblue;
}

/* line 4, ../sass/login.scss */
.account-wrapper {
  position: relative;
  width: 392px;
  padding: 140px 0;
  margin: 0 auto;
  text-align: center;
  min-width: 392px;
}
/* line 12, ../sass/login.scss */
.account-wrapper .account-body {
  position: relative;
  padding: 0px 30px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: cursive;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
/* line 22, ../sass/login.scss */
.account-wrapper .account-body .account-form {
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}
/* line 29, ../sass/login.scss */
.account-wrapper .account-body .account-form .form-group span i {
  padding-right: 5px;
}
/* line 33, ../sass/login.scss */
.account-wrapper .account-body .account-form .form-group .success {
  color: #37fd05;
}
/* line 36, ../sass/login.scss */
.account-wrapper .account-body .account-form .form-group .info {
  color: blue;
}
/* line 39, ../sass/login.scss */
.account-wrapper .account-body .account-form .form-group .error {
  color: red;
}
/* line 43, ../sass/login.scss */
.account-wrapper .account-body .account-form p {
  font-size: 20pt;
  text-align: center;
}
/* line 49, ../sass/login.scss */
.account-wrapper .account-footer {
  padding: 0 25px;
  margin-top: 1.5em;
}

/* line 54, ../sass/login.scss */
.form {
  display: block;
  margin-top: 0em;
}
