/* line 1, ../sass/riskProfessor.scss */
#menu-principal {
  width: 950px;
  margin: 0 auto;
  margin-top: 30px;
}
/* line 7, ../sass/riskProfessor.scss */
#menu-principal .navbar-inverse .navbar-brand {
  color: white !important;
}
/* line 10, ../sass/riskProfessor.scss */
#menu-principal .navbar-inverse .navbar-nav > li > a {
  color: white;
}
/* line 14, ../sass/riskProfessor.scss */
#menu-principal .navbar-inverse dropdown-menu ul li a {
  color: black;
}

/* line 21, ../sass/riskProfessor.scss */
.content {
  width: 950px;
  height: auto;
  margin-top: -13px;
}
/* line 26, ../sass/riskProfessor.scss */
.content .box-big {
  margin-bottom: 20px;
}
/* line 29, ../sass/riskProfessor.scss */
.content .box-big .box-title {
  width: 950px;
  padding: 12px;
  background: darkcyan;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-left: -1px;
  margin-top: 16px;
}
/* line 39, ../sass/riskProfessor.scss */
.content .box-big .box-content {
  margin-top: 10px;
  width: 90%;
  margin-left: 25px;
  font-family: fontawesome;
  font-weight: normal !important;
}
/* line 45, ../sass/riskProfessor.scss */
.content .box-big .box-content .gravar-plano {
  margin-left: 30px;
  margin-top: -15px;
}
/* line 50, ../sass/riskProfessor.scss */
.content .box-big .box-content .note-editor .btn-small {
  height: 30px;
}
/* line 56, ../sass/riskProfessor.scss */
.content .dropdown-toggle {
  padding-bottom: 0px;
}
/* line 59, ../sass/riskProfessor.scss */
.content .btn-editar {
  cursor: pointer;
}
/* line 64, ../sass/riskProfessor.scss */
.content #acoes a:hover, .content #acoes a:focus {
  text-decoration: none !important;
}

/* line 69, ../sass/riskProfessor.scss */
#tableProjeto_wrapper {
  width: 98%;
  margin-left: 2.5%;
  margin-top: 15px;
}
/* line 74, ../sass/riskProfessor.scss */
#tableProjeto_wrapper #tableProjeto {
  border-radius: 5px;
}
/* line 76, ../sass/riskProfessor.scss */
#tableProjeto_wrapper #tableProjeto th {
  padding-left: 9px;
}
/* line 80, ../sass/riskProfessor.scss */
#tableProjeto_wrapper .pagination li a {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: inherit;
  line-height: 1.42857;
  padding: 4px 10px;
}
/* line 87, ../sass/riskProfessor.scss */
#tableProjeto_wrapper .pagination > .active > a {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}

/* line 95, ../sass/riskProfessor.scss */
.control-label {
  font-weight: normal;
}

/* line 99, ../sass/riskProfessor.scss */
#divGravar {
  margin-left: 30px;
  margin-bottom: 10px;
}

/* line 104, ../sass/riskProfessor.scss */
.riscos {
  border: 1px solid #ddd;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 108, ../sass/riskProfessor.scss */
.riscos .riscos-box-title {
  padding: 8px;
  background: darkcyan;
  color: white;
  text-align: center;
  font-size: 15px;
}
/* line 115, ../sass/riskProfessor.scss */
.riscos .riscos-content {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
}
/* line 121, ../sass/riskProfessor.scss */
.riscos .riscos-content .remove-risco {
  float: right;
}
/* line 124, ../sass/riskProfessor.scss */
.riscos .riscos-content .risco-title {
  margin-top: 10px;
  width: 97%;
}
/* line 128, ../sass/riskProfessor.scss */
.riscos .riscos-content .risco-options {
  margin-left: -30px !important;
}
/* line 130, ../sass/riskProfessor.scss */
.riscos .riscos-content .risco-options .risco-options-select {
  width: 138px;
}
/* line 134, ../sass/riskProfessor.scss */
.riscos .riscos-content .risco-acoes {
  margin-left: 187px !important;
  margin-bottom: 10px;
  height: auto;
  width: 78%;
  border: 1px solid darkcyan;
}
/* line 140, ../sass/riskProfessor.scss */
.riscos .riscos-content .risco-acoes .remove-acao {
  float: right;
}
/* line 143, ../sass/riskProfessor.scss */
.riscos .riscos-content .risco-acoes .risco-acao-descricao {
  margin-top: 10px;
}
/* line 146, ../sass/riskProfessor.scss */
.riscos .riscos-content .risco-acoes .risco-acao-options {
  width: 70%;
}
/* line 150, ../sass/riskProfessor.scss */
.riscos .riscos-content .add-acao {
  margin: 5px 0 10px 10px;
}
/* line 154, ../sass/riskProfessor.scss */
.riscos .add-risco {
  margin: 20px 0 10px 10px;
}
