/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'FuturaBkBTBook';
  src: url("../font/futura_bk_bt_book-webfont.eot");
  src: url("../font/futura_bk_bt_book-webfont.eot?#iefix") format("embedded-opentype"), url("../font/futura_bk_bt_book-webfont.woff") format("woff"), url("../font/futura_bk_bt_book-webfont.ttf") format("truetype"), url("../font/futura_bk_bt_book-webfont.svg#FuturaBkBTBook") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*========= Base Colors ===========*/
/*========= Caculated Colors ===========*/
/* ================ GENERAL ===================*/
/* ================ HEADER =================== */
/* ================ MENU ===================== */
/* ================ BOX ======================= */
/* ================ TABLE ===================== */
/* ================ FEEDS ===================== */
/* ================ ANIVERSARIOS =============== */
/* ================ VIDEOS ===================== */
/* ================ FORM ======================= */
/* ================ RESERVAS =================== */
/* ============= CSS Generico ==============*/
/* line 6, ../sass/_base.scss */
#content {
  margin: 15px 15px 15px 230px;
}

/* line 10, ../sass/_base.scss */
.fade {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 14, ../sass/_base.scss */
.fade.out {
  opacity: 0;
}
/* line 17, ../sass/_base.scss */
.fade.in {
  opacity: 1;
}

/* line 24, ../sass/_base.scss */
i.ativo {
  color: #00CD00;
  text-shadow: 0px 1px 0px gray;
}
/* line 28, ../sass/_base.scss */
i.inativo {
  color: #ed1c24;
  text-shadow: 0px 1px 0px gray;
}

/* line 34, ../sass/_base.scss */
.foto-moldura {
  padding: 3px;
  background: #FFF;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 0px 7px gray;
  -webkit-box-shadow: 0px 0px 7px gray;
  box-shadow: 0px 0px 7px gray;
}

/* line 42, ../sass/_base.scss */
.half {
  width: 47%;
  margin: 10px  auto;
}

/* line 47, ../sass/_base.scss */
.separador {
  display: inline-block;
  background: #ededed;
  width: 1px;
  height: 15px;
  margin: 0 10px;
}

/* line 55, ../sass/_base.scss */
.link {
  cursor: pointer;
  text-decoration: none;
}

/* line 61, ../sass/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 66, ../sass/_base.scss */
.show-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 72, ../sass/_base.scss */
.pagination {
  text-align: center;
}
