@font-face {
    font-family: 'FuturaBkBTBook';
    src: url('../font/futura_bk_bt_book-webfont.eot');
    src: url('../font/futura_bk_bt_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/futura_bk_bt_book-webfont.woff') format('woff'),
         url('../font/futura_bk_bt_book-webfont.ttf') format('truetype'),
         url('../font/futura_bk_bt_book-webfont.svg#FuturaBkBTBook') format('svg');
    font-weight: normal;
    font-style: normal;

}