.login-container {
  max-width: 410px;
  margin: 0 auto;
  font-family: 'FuturaBkBTBook', Arial, sans-serif !important;

  label {
    font-size: 18px;
  }

  form {
    margin: 0;
    input[type="text"], input[type="password"] {
      height: 30px !important;
      width: 370px;
      background: $base-color-lightest;
      @include box-shadow(0px 2px 0px $base-color-light);
      border: 0;
    }

    .checkbox {
      font-size: 14px;
    }

    .login-button {
      color: $light-color;
      @include text-shadow(1px 1px 1px $dark-color);
      @include background-image(linear-gradient($menu-background-bottom-color 50%, $menu-background-top-color 50%));
      &:hover, &:focus {
        background-position: 0;
        @include background-image(linear-gradient(lighten($menu-background-top-color, 10%) 50%, lighten($menu-background-bottom-color, 10%) 50%));
      }
    }

    .redefinir-senha {
      display: block;
      margin-top: 10px;
    }

  }

}

.box-login-empresa {
  margin-top: 50px;
  height: 90px;
  img {
    float:left;
  }
  .login-empresa-nome {
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 30px;
    text-align: center;
  }
}
  

.box-login-title {
  @include background-image(linear-gradient($menu-background-bottom-color 50%, $menu-background-top-color 50%));
  color: $menu-text-color;
  height: 45px;
  margin: 0;
  
  font-size: 16px;
  text-align: center;
  line-height: 44px;
  @include border-radius;
}

.box-login-cont {
  background: $light-color;
  padding: 20px;
  @include border-bottom-radius(10px);
  @include box-shadow(0px 2px 0px $base-color-light);

  #erro {
      text-align: center;
      color: $first-standout-color;
  }
}

.ass-sistema {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
}

#mensagem-redefinir {
  text-align: center;
}