body{
	background-color: cadetblue !important;
}
.content{
		width: 50%;
		border: 1px solid #ddd;
		border-radius: 4px;
		background-color: #fff;
		margin: 0px auto;
		margin-top: 60px;
		font-family: cursive;
		.tab-pane{
			margin-top: 24px;
			margin-bottom: 30px;
		}

}
#jogar{
	text-align: center;
}

.selectProjeto {
	margin: 0px auto;
}