body{
	background-color: cadetblue;
}
.account-wrapper{
	position: relative;
	width: 392px;
	padding: 140px 0;
	margin: 0 auto;
	text-align: center;
	min-width: 392px;
	
	.account-body{
		position: relative;
		padding: 0px 30px 10px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 4px;
		font-family: cursive;
		-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
		
		.account-form {
			padding: 0;
			margin-top: 2em;
			margin-bottom: 2em;
			text-align: left;
			.form-group{
				span{
					i{
					 	padding-right: 5px;
					 }
				}
				.success{
					color: rgb(55, 253, 5);
				}
				.info{
					color: blue;
				}
				.error{
						color: red;
				}
			}
			p{
				font-size: 20pt;
				text-align: center;
			}
		}
	}
	.account-footer {
		padding: 0 25px;
		margin-top: 1.5em;
	}
}
.form {
	display: block;
	margin-top: 0em;
}